@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../table/table.css);
@import url(./__cell/table__cell.css);
@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);
.digits {
  margin-top: 100px;
}
