.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #000000;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link:hover {
  color: #2f80ed;
  opacity: 0.5;
  transition: 0.5s;
}
