@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);
.feynman {
  height: 890px;
  background: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
