@import url(./_place/logo_place_header.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__link/header__link.css);
@import url(./__square-pic/header__square-pic.css);
.header {
  height: 765px;
  background: #f2f2f2;
  position: relative;
  display: flex;
  overflow: hidden;
}
