@import url(./_content/footer__column_content_copyright.css);
@import url(./_content/footer__column_content_info.css);
@import url(./_content/footer__column_content_social.css);
.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}
