@import url(./_theme/table__cell_theme_dark.css);
@import url(./_theme/table_theme_dark.css);
@import url(./_theme/table__heading_theme_dark.css);
@import url(./_theme/table__text_theme_dark.css);
.table {
  width: 1100px;
  height: 500px;
  margin: 0 auto 100px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
