@import url(./__cell/table__cell.css);
@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);
.table {
  width: 1100px;
  height: 500px;
  margin: 0 auto 100px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
