.kaufman__triangle {
  background-image: url(./images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 1px;
  right: -210px;
  z-index: 2;
  animation: rotation 20s infinite linear;
}
