.kaufman__triangle {
  background-image: url(./images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 1px;
  right: -210px;
  z-index: 2;
}
