@import url(./__author/footer__author.css);
@import url(./__column-heading/footer__column-heading.css);
@import url(./__column-links/footer__column-links.css);
@import url(./__column/footer__column.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(../logo/_place/logo_place_footer.css);
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  display: flex;
}
