.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

a:hover {
  color: #2f80ed;
  text-decoration: underline;
}

.header {
  height: 765px;
  background: #f2f2f2;
  position: relative;
  display: flex;
}

.logo {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 1px;
  bottom: 2px;
  z-index: 5;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  left: 64px;
  top: 30px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__link {
  color: #2f80ed;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 1px;
  overflow: auto;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}

.digits {
  margin-top: 100px;
}

.section-title {
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
  margin: 0 0 20px;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}

.table {
  width: 1100px;
  height: 500px;
  margin: 0 auto 100px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  height: 187px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;

}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  height: 890px;
  background: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  text-align: center;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
  margin: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #000000;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  background: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 1px;
  right: -210px;
  z-index: 2;
}

.section-title_theme_dark {
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
  margin-top: 90px;
  color: #f2f2f2;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  color: #f2f2f2;
}

.table_theme_dark {
  width: 1100px;
  margin: 0 auto 0;
}

.table__cell_theme_dark {
  width: 205px;
  height: 111px;
  margin-top: 80px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  z-index: 5;
}

.table__heading_theme_dark {
  line-height: 1.5;
  font-size: 24px;
  font-weight: bolder;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  display: flex;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}


.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  color: #f2f2f2;
  text-decoration: none;
  padding: 0;
  list-style-type: none;
  margin: 0 0 16px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
  margin: 0 0 20px;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
